<form action="/landmarks/<%=@landmark.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p><%= @landmark.name %></p>
  <input type="text" name = "name" id="landmark[name]" placeholder="Name">
  <p><%= @landmark.year_completed %></p>
  <input type="text" name= "year_completed"id="landmark[year_completed]" placeholder="Year Completed">

  <input type="submit" value="Edit Landmark">
</form>
